{% extends "base_template.html" %}
{% load static %}

{% block content %}
    	<div class="container">
    		<div class="row col-md-6 col-md-offset-3">
    			<br/><a href="{% url 'exercise' %}"><button type="button" class="btn btn-secondary">Back to Exercise List</button></a>
    			
		    	</div>
		</div>
		<div class="container ">
    		<div class="row col-md-6 col-md-offset-3 panel panel-default">
		    	<h2>Add a new exercise</h2>
		    	<!-- <div class="panel-heading">Create a new exercise</div> -->
				<form class="form-contact" action="/add-exercise/" method="post">
				    {% csrf_token %}
				    {% for field in form %}
				    <fieldset class="form-group">
					  <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
					    <!-- <div class="form-control"> -->
					      <input type="text" class="form-control"
					        name="{{ field.name }}"
					        id="id_{{ field.name }}" 
					        <p class="help-text">{{ field.help_text }} </p>
					       <!-- </div> -->
					</fieldset>
					{% endfor %}
				    <!-- {{ form.as_p }} -->
				    <input type="submit" class="btn btn-block btn-primary" value="Proceed to upload" /><br/>
				 </form>
            <!-- <p><input type="submit" value="Upload" /></p> -->
            
        </form>
        
		<!--probably issue here -->
				<!-- <br/><button type="button" class="btn btn-secondary"><a href="{% url 'new_account' %}">Create therapist</a></button> -->
			</div>
		</div>
{% endblock content %}
