{% extends "base_template.html" %}
{% load static %}

{% block content %}
    <body>
    	<div class="container">
    		
    		<div class="row col-md-3">
    			<br/><a href="{% url 'view_patient' %}"><button type="button" class="btn btn-secondary">Back to Patient List</button></a><br/><br/>
		    	<table class="table table-hover table-striped">
					    <thead>
					      <tr>
					        <th><p class="lead"><strong>All Exercises:</strong></p></th>
					      </tr>
					    </thead>
					    
					    <tbody>
					      <tr>
					      	
						      	{% for exercises in exercise_list %}
						        <td><a href="/exercises/{{ exercises.exerciseName }}">{{ exercises.exerciseName }}</a></td>
						        
						      </tr>
						      {% endfor %}
						      	
						      </tr>
					  	</tbody>
					  </table>
				<br/><a href="{% url 'add_exercise' %}"><button type="button" class="btn btn-secondary">Add Exercise</button></a>
				
			</div>
			
    		<div class="row col-md-6 panel panel-default col-md-offset-1" style="margin-top:5em"><br/>
		    	<p class="lead"><strong>Exercise:</strong></p>
				<p style="font-size:130%"><strong>Name:</strong> {{ exercise.exerciseName }}</p>
				<p style="font-size:130%"><strong>Category:</strong> {{ exercise.category }}</p>
				<p style="font-size:130%"><strong>Added by:</strong> {{ exercise.added_by }}</p>
				<p style="font-size:130%"><strong>Date:</strong> {{ exercise.date }}</p>
				<p style="font-size:130%"><strong>Description:</strong> {{ exercise.desc }}</p>
				<!-- <br/><button type="button" class="btn btn-secondary"><a href="#">Download .GBA file</a></button> -->
			</div>
		</div>
		
	</body>
{% endblock %}
