{% extends "base_template.html" %}
{% load static %}

{% block content %}
    	<div class="container">
    		<div class="row col-md-4">
    			<br/><a href="{% url 'exercise' %}"><button type="button" class="btn btn-secondary">Exercise List</button></a>
    			
		    	</div>
    		<div class="row col-md-8">
		    	<h2>Upload a new exercise</h2>
				<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload file" /></p>
        </form>
            <!-- <p><input type="submit" value="Upload" /></p> -->
            
        </form>
        
		<!--probably issue here -->
				<!-- <br/><button type="button" class="btn btn-secondary"><a href="{% url 'new_account' %}">Create therapist</a></button> -->
			</div>
		</div>
{% endblock %}
