{% extends "base_template.html" %}
{% load static %}

{% block content %}
    <body>
        <h1>Present Therapists:</h1>

        {% if therapists %}
            <ul>
                {% for therapist in therapists %}
                <li>{{ therapist.username }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no therapists present.</strong>
        {% endif %}

    </body>
{% endblock %}
