{% extends "base_template.html" %}
{% load static %}

{% block content %}


<div class="container">
<!row1>
<div class="row">
    {%if form.errors %}
    <p> Invalid username/password combination, please try again </p>
    {% endif %}
	</br>
	<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
			<img class="img-responsive" src="{% static 'img/elemental_kinection2.jpg' %}" >
	</div>
</div>


<div class="row center">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
    <h1>Welcome to Elemental Kinection</h1>
	<div class="col-md-2">
	</div>

</div>



<!row3>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">




		<form action="/accounts/login/" method="post">
		    	{% csrf_token %}
		    	<!-- <label for="inputUsername" class="sr-only">Username</label> -->
		    	<!-- <input type="text" class="form-control" placeholder="Username" value="" required autofocus> -->
		    	<input type="text" class="form-control" name="username" placeholder="Username" value="" size="50" required autofocus>
		    	<!-- <label for="inputPassword" class="sr-only">Password</label> -->
		    	<!-- <input type="password" class="form-control" placeholder="Password" value="" required> -->
		    	<input type="password" class="form-control" name="password" placeholder="Password" value="" size="50" required>
		    	{% if invalid %}
				    <p>*Please enter correct username / password. </p> 
				{% endif %}
			</div>
		</div>
	            <br />
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
        <input type="submit" class="btn btn-lg btn-primary btn-block" id="submit" name="submit" value="Sign in" />
	</div>

        <!-- <input type="hidden" name="next" value="{{ next }}" />         -->
    </form>

	<!-- <div class="col-md-3 col-md-offset-3">
    	<a href="password_reset/" id="forgot"> forgot username/password</a><br />
    	<a href="register" id="new">new user</a>
	</div> -->
<div>


	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src = <script src="{% static 'bootstrap/js/bootstrap.min.js"></script>
</div>
{% endblock content %}
