{% extends "base_template.html" %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="container ">
	<div class="row">
		<div class="col-md-4">
			<br/><a href="/session/{{ patient.id }}"><button type="button" class="btn btn-secondary">View Sessions</button></a><br/><br/><p class="lead"><strong>Current exercises for {{ patient.username }}</strong></p>
			
			<li>No exercises added</li>
				<!-- <ul>{{ date.exercise }}</ul> -->
			<!-- <li><strong>{{ session.exercise }}</strong> -> {{ session.sessdate }}, <strong>{{ session.reps }}</strong> reps</li><br/> -->
			
			<br/>
			<!-- <br/><a href="{% url 'add_exercise' %}"><button type="button" class="btn btn-lg btn-secondary">Add Exercise</button></a> -->
		</div>

    		<div class="col-md-6 col-md-offset-1 panel panel-default">
		    	<h2>Assign a new exercise for current session</h2>
		    	<!-- <div class="panel-heading">Create a new exercise</div> -->
				<form class="form-contact" action="/new-session/assign/{{ patient.id }}/" method="post">
				    {% csrf_token %}
				    
				    	{{ form|bootstrap }}
				    
				    <!-- {{ form.as_p }} --><br/>
				    <input type="submit" class="btn btn-block btn-primary" value="Assign" /><br/>
				 </form>
				 
            <!-- <p><input type="submit" value="Upload" /></p> -->
            
       		</div>
       	</div>
</div>

{% endblock %}