{% extends "base_template.html" %}
{% load static %}
{% load bootstrap %}

{% block content %}

    <body>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4 col-md-offset-4">
    				<a href="{% url 'view_patient' %}"><button class="btn btn-secondary">Back to Patient List</button></a>
    			</div>
    		</div>
    		<div class="row">
	    		<div class="col-md-4 col-md-offset-4 panel panel-default">

				    	<h2>Create a patient account</h2>

						<form action="/accounts/new-patient/" method="post">
						    {% csrf_token %}
						    
						    {{ form|bootstrap }}

						    {% if messages %}
							<ul class="messages">
							    {% for message in messages %}
							    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							    {% endfor %}
							</ul>
							{% endif %}
						    <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
						</form>
						<br/>
				</div>
			</div>
		</div>
	</body>

{% endblock %}