{% extends "base_template.html" %}
{% load static %}
{% load bootstrap %}
{% block content %}
<body>
<div class="container">
    	


    <div class="row col-md-4 col-md-offset-4 panel panel-default">
    	<h2>Create Therapist Account</h2>
		<form action="/accounts/new/" method="post">
		    {% csrf_token %}
		    {{ form|bootstrap }}
		    {% if messages %}
							<ul class="messages">
							    {% for message in messages %}
							    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							    {% endfor %}
							</ul>
							{% endif %}
		    <input type="submit" class="btn btn-standard" value="Submit" /><br/><br/>
		</form>


		
		<!-- <br/><br/><button class="btn btn-secondary"><a href="{% url 'index' %}">View therapists</a></button> -->
	</div>
</div>



{% endblock %}
