{% extends "base_template.html" %}
{% load static %}

{% block content %}
    	<div class="container-fluid">
    		<div class="row">
	    		<div class="col-md-12 col-xs-12 col-md-offset-3" style="position:static;">
			    	<h2>Patients for {{ user.username }}</h2>
			    	<ul class="list-group" style="display: inline-block;">
			    		<li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">Username</li></a>
			    		{% if patients %}
						      	{% for patient in patients %}
					  <a href="/patient-stats/{{ patient.username }}"><li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">{{ patient.username }}</li></a>
					  			{% endfor %}
					  	{% else %}
					  	<li class="list-group-item">No Patient</li>
					  	{% endif %}
					</ul>

					<ul class="list-group" style="display: inline-block;">
						<li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">Start Date</li></a>
			    		{% if patients %}
						      	{% for patient in patients %}
					 <li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">{{ patient.start_date }}</li>
					  			{% endfor %}
					  	{% endif %}
					</ul>
			    	
			    	<ul class="list-group" style="display: inline-block;">
						<li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">End Date</li></a>
			    		{% if patients %}
						      	{% for patient in patients %}
					 <li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">{{ patient.end_date }}</li>
					  			{% endfor %}
					  	{% endif %}
					</ul>

					<ul class="list-group" style="display: inline-block;">
						<li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">Latest Completed</li></a>
			    		{% if patients %}
						      	{% for date in last_completed_dates %}
					 <li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">{% if date == "0" %}Create new session{% else %}{{ date }}{% endif %}</li>
					  			{% endfor %}
					  	{% endif %}
					</ul>

					<ul class="list-group" style="display: inline-block;">
						<li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">Last Assigned Session</li></a>
			    		{% if patients %}
						      	{% for date in last_assigned_dates %}
					 <li class="list-group-item" style="border-top: 0 none;border-left:0 none; border-right:0 none; ">{% if date == "0" %}NA{% else %}{{ date }}{% endif %}</li>
					  			{% endfor %}
					  	{% endif %}
					</ul>
					      	
				</div>
				<div class="col-md-9 col-md-offset-3 ">

					<div class="row hidden-sm hidden-xs">
						<div class ="col-md-1">
							<a href="{% url 'new_patient_account' %}"><button type="button" class="btn btn-secondary">Add Patient</button></a>
						</div>
						<div class ="col-md-1 col-md-offset-5">
							<a href="{% url 'exercise' %}"><button type="button" class="btn btn-secondary margin-right">Manage Exercises</button></a>
						</div>
					</div>

					<div class="hidden-md hidden-lg">
						<div class ="col-xs-1">
							<a href="{% url 'new_patient_account' %}"><button type="button" class="btn btn-secondary">Add Patient</button></a><br/><br/>
							<a href="{% url 'exercise' %}" style="margin-left:0em"><button type="button" class="btn btn-secondary margin-right">Manage Exercises</button></a>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
		
{% endblock %}
