{% extends "base_template.html" %}
{% load static %}
{% load chartit %}
{% block content %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.4/highcharts.js"></script>
{% if yes %}
{{ timechart|load_charts:"myDiv, timeGraph" }}
<script>
// jQuery function to create a chart for each of the HighCharts Chart Options
// JSON object (_chartit_hco_array) passed to web page from the view.
$(document).ready(function() {
	$.each(_chartit_hco_array, function(index, chartoptions) {
		chart = new Highcharts.Chart(chartoptions);
	});
});
</script>
{% endif %}

<style>
	table.tableSection {
        display: table;
        width: 100%;
    }
    table.tableSection thead, table.tableSection tbody {
        float: left;
        width: 100%;
    }
    table.tableSection tbody {
        overflow: auto;
        height: 150px;
    }
    table.tableSection tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.tableSection th, table.tableSection td {
        width: 33%;
    }}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-xs-6"><br/>
			{% if not i_am_patient %}
			<a href="{% url 'view_patient' %}"><button type="button" class="btn btn-secondary">Back to Patient List</button></a><br/><br/>
			<a href="/session/{{ patient.id }}"><button type="button" class="btn btn-secondary">Manage Sessions</button></a><br/>
			{% endif %}
			<table class="table table-hover table-striped tableSection">
			          <thead>
							<tr>
								<th>{{ patient.username }}'s Exercises</th>
						    </tr>
					</thead>
					<tbody>
						<tr>
				          	{% for exer in exercise %}
					          	{% if not i_am_patient %}
					            <td><a href="/patient-exercise-stats/{{ patient.id }}/{{ exer }}/">{{ exer }}</a></td>
					            {% else %}
					            <td><a href="/patient-exercise/{{ patient.id }}/{{ exer }}/">{{ exer }}</a></td>
					            {% endif %}
				        </tr>
				            {% endfor %}<br/>
				            {% if not exercise %}
				            <td>No exercise completed</td>
				            {% endif %}

			            <!-- <td><a href="/session/assign/{{ patient.id }}"><strong>Assign</strong> Session</a></td> -->
			            <!-- <li><a href="#">Reports</a></li> -->
			            <!-- <li><button type="button" class="btn btn-secondary btn-lg" onclick="goBack()">Go Back</button> -->
			        </tbody>
							
			</table>
			
			



		</div>



	{% if yes %}
	
	<div class="col-md-6 col-md-offset-1">
		<h2>{{ patient.username }}'s Results</h2>
		<p>Select reps or time to display the results</p>
		<input type="radio" name="bedStatus" id="reps" value="reps">Reps
		<input type="radio" name="bedStatus" id="time" value="time">Time
		
		<div id="timeGraph" style="width: 680px; height: 500px; display:none;"><!-- Plotly chart will be drawn inside this DIV -->
			<!-- <p class="lead" style="margin-left:10em">Select a month to display results</p> -->
		</div>
		<div id="myDiv" style="width: 680px; height: 500px; display:none;"><!-- Plotly chart will be drawn inside this DIV -->
			<!-- <p class="lead" style="margin-left:10em">Select a month to display results</p> -->
		</div>
		<script>$(document).ready(function() {
		    $('input:radio[name=bedStatus]').change(function() {
		        if (this.value == 'reps') {
		            $( "#myDiv" ).css('display', '');
		            $("#timeGraph").css('display','none');
		        }
		        else if (this.value == 'time') {
		            $("#timeGraph").css('display','');
		            $("#myDiv").css('display','none');
		        }
		    });
		});</script>


	</div>

	<div class="col-md-2 col-md-offset-1 hidden-sm hidden-xs">
		
	</div>



	{% else %}
	<div class="col-md-4 col-md-offset-1 hidden-sm hidden-xs">
		
			
			<h2>{{ patient.username }}'s Results</h2>
			<div class="alert alert-info">
			  <strong>To see {{ patient.username }}'s stats</strong>, select an exercise on the left.
			</div>
		
	</div>

	<div class="col-sm-12 hidden-md hidden-lg">
	
			
			<h2>{{ patient.username }}'s Results</h2>
			<p>To see {{ patient.username }}'s stats</strong>, select an exercise on the left.</p>
		
	</div>
	{% endif %}


</div>
</div>




{% endblock %}