{% extends "base_template.html" %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="container ">
	<div class="row">
		<div class="col-md-4">
			<br/>
			<a href="/session/{{ patient.id }}"><button type="button" class="btn btn-secondary">View Sessions</button></a><br/><br/>
			<p class="lead"><strong>Current exercises for {{ patient.username }} due on {{ date_object }}</strong></p>
			
			<!-- <li>{{ exercise.exercise }}, ordering -> {{ exercise.ordering }}</li> -->
			<table class="table table-hover table-striped">
					    <thead>
					      <tr>
					        <th>Exercises</th>
					        <th>Reps</th>
					        <th>Time (Sec.)</th>
					      </tr>
					    </thead>
					    
					    <tbody>
					      <tr>
						      	{% for exercise in sessbydate %}
						        <td><strong>{{ exercise.exercise }}</strong></td>
						        <td><strong>{{ exercise.reps }}</strong></td>
						        <td><strong>{{ exercise.time }}</strong></td>
						   </tr>
						      	{% endfor %}
						      
						    
					  	</tbody>
			</table>
			<br/>
			<!-- <br/><a href="{% url 'add_exercise' %}"><button type="button" class="btn btn-lg btn-secondary">Add Exercise</button></a> -->
		</div>

    		<div class="col-md-6 col-md-offset-1 panel panel-default">
		    	<h2>Assign a new exercise for current session</h2>
		    	<!-- <div class="panel-heading">Create a new exercise</div> -->
				<form class="form-contact" action="/session/assign/{{ patient.id }}/{{ date_object }}/" method="post">
				    {% csrf_token %}
				    
				    	{{ form|bootstrap }}
				    	{% if form.errors %}
						    {% for field in form %}
						        {% for error in field.errors %}
						            <div class="alert alert-error">
						                <strong>{{ error|escape }}</strong>
						            </div>
						        {% endfor %}
						    {% endfor %}
						    {% for error in form.non_field_errors %}
						        <div class="alert alert-error">
						            <strong>{{ error|escape }}</strong>
						        </div>
						    {% endfor %}
						{% endif %}
				    {% if messages %}
					<ul class="messages">
					  {% for message in messages %}
					  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					  {% endfor %}
					</ul>
				{% endif %}
				    <!-- {{ form.as_p }} --><br/>
				    <input type="submit" class="btn btn-block btn-primary" value="Assign" /><br/>
				 </form>
				 
									 
            <!-- <p><input type="submit" value="Upload" /></p> -->
            
       		</div>
       	</div>
</div>

{% endblock %}