{% extends "base_template.html" %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row">
		
			
		
		<div class="col-md-8 col-md-offset-2">
			<h2>Sessions Assignment</h2>
			<p>*select a session and add exercises <strong>OR</strong> create a new session</p>
			<div class="alert alert-info">
				<p class="lead">Current sessions for {{ patient.username }}</h3>
			</div>
			
			<a href="/patient-stats/{{ patient.username }}/" ><button type="button" class="btn btn-secondary" style="">Back to Results</button></a>
			<a href="/new-session/assign/{{ patient.id }}/" class="hidden-md hidden-lg" style="margin-left:8.8em"><button type="button" class="btn btn-secondary">Create New Session</button></a>
			<a href="/new-session/assign/{{ patient.id }}/" class="hidden-sm hidden-xs" style="margin-left:33em"><button type="button" class="btn btn-secondary">Create New Session</button></a>
			<div class="list-group">
						    {% for date in dates %}
						        <a href="/session/assign/{{ patient.id }}/{{ date }}" class="list-group-item"><p class="lead"><strong>{{ date }}</strong></p>
						        <p>Exercises in this session:</p>
						        {% for session in sessions %}
							        {% if session.sessdate == date %}
							        	<li>{{ session.exercise }},   {{ session.reps }} reps,    {{ session.time }} sec.</li>
							        {% endif %}
						        {% endfor %}
						      
						    {% endfor %}</a>

						    {% if not dates %}
						    	<div class="alert alert-info">
						    		No sessions assigned.
						    	</div>
						    {% endif %}
						  	
			</div>
			

			<br/>
			
			<br/>
		</div>
	</div>
</div>

{% endblock %}