{% extends "base_template.html" %}
{% load static %}

{% block content %}
<body>

<div class="container">
  		



<div class="row">
	<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
		<img class="img-responsive" src="{% static 'img/elemental_kinection2.jpg' %}" >
	</div>
</div>
        <!-- differentiate between therapists and patients here -->






<div class="row">
	<h1>Welcome {{ user.username }}</h1>
</div>

<div class="row">
		<div class="col-md-12 col-centered" align="center">
       	<a href="{% url 'new_account' %}" class="btn btn-default">Create Therapist</a>
        <a href="{% url 'new_admin_account' %}" class="btn btn-default">Create Admin</a>
		</div>
</div>
      

	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src = <script src="{% static 'bootstrap/js/bootstrap.min.js"></script>
</div>
    </body>
{% endblock %}
