{% extends "base_template.html" %}
{% load static %}

{% block content %}

	<div class="row">
	</div>
	</br>
	<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
			<img class="img-responsive" src="{% static 'img/elemental_kinection2.jpg' %}" >
	</div>
	</br></br>
	</div>
<div class="row">
        <!-- differentiate between therapists and patients here -->
	<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">       
			 <h1>Welcome {{ user.username }}</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-centered" align="center">
        <a href="{% url 'view_patient' %}" type="button" class="btn btn-default text-centered">Patient Section</a>
       	<a href="/exercises/"type="button" class="btn btn-default">Exercise Section</a>

	</div>

</div>

</div>
{% endblock %}
